
@media screen and (min-width: 768px) {
	body {
		padding-top: 100px;
	}
	.header{
		&__line {
			height: 100px;
		}
		&__logo {
			height: 32px;
		}
	}
	.socials {
		width: 120px;
		&__item {
			height: 38px;
			min-width: 20px;
			span {
				height: 38px;
				font-weight: 500;
				font-size: 14px;
				line-height: 38px;
				color: #F85453;
				background: #FFFFFF;
				box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
				border-radius: 18px;
				padding: 0 11px;
				transition: .2s;
			}
		}
		.mail {
			width: 33px;
		}
		.telegram {
			width: 26px;
		}
		&__item:not(.moon):hover {
			background: none;
			span {
				opacity: 1;
				visibility: visible;
				width: max-content;
			}
		}
		.moon:hover {
			cursor: pointer;
		}
	}
	.brand {
		background-image: url('./files/images/Mask.png');
		padding-bottom: 51%;
		img {
			width: 25%;
			position: absolute;
			left: 36%;
			top: 58%;
		}
	}
	.dark {
		.brand {
			background-image: url('./files/images/MaskB.png');
			img {
				top: 64%;
			}
		}
	}


}
@media screen and (min-width: 996px) {
	.services {
		padding-top: 140px;
	}
	.show {
		z-index: 40;
	}
	.title {
		font-weight: 700;
		font-size: 50px;
		line-height: 59px;
		text-align: center;
		margin-bottom: 67px;
	}
	.service {
		display: flex;
		width: 996px;
		height: 512px;
		margin: 0 auto 87px auto;
		background: #FAFAFA;
		&__info {
			order: 0;
			width: 50%;
			padding: 95px 50px 95px 54px;
			display: flex;
			flex-direction: column;
			background: url('../files/images/Vector_1.png') no-repeat;
		}
		&__right {
			order: 1;
			width: 50%;
			position: relative;
			padding: 0;
		}
		&__name {
			font-size: 40px;
			line-height: 47px;
			margin-bottom: 20px;
			position: relative;
			z-index: 1;
		}
		&__name::before {
			content: '';
			position: absolute;
			width: 39px;
			height: 39px;
			border-radius: 50%;
			z-index: -1;
			top: -14px;
			left: -14px;
		}
		&__name::after {
			content: '';
			position: absolute;
			top: 5px;
			left: -55px;
			height: 112px;
			width: 24px;
			background: repeating-linear-gradient(
				to top, 
				#232323, 
				#232323 1px, 
				transparent 2px, 
				transparent 12px
				);
		}
		&__description {
			font-size: 16px;
			line-height: 19px;
		}
		&__text {
			position: absolute;
			z-index: 10;
			padding: 90px 56px;
			.close-btn {
				display: none;
			}
			p {
				font-size: 16px;
			}
		}
	}
	.block-1 .service__name::before {
		background-color: #5CC560;
	}
	.block-2 {
		.service__name::before {
			background-color: #FFABAB;;
		}
		.service__text {
			padding: 54px 56px 30px 56px;
		}
	}
	.block-3 {
		.service__name::before {
			background-color: #ABEC6C;
		}
		.service__right {
			.grid {
				.grid-1, .grid-2, .grid-3, .grid-4 {
					padding: 0;
					height: 256px;
				}
				.grid-1 {
					border-right: 1px solid #E9E9E9;
					border-bottom: 1px solid #E9E9E9;
				}
				.grid-2 {
					border-left: 1px solid #E9E9E9;
					border-bottom: 1px solid #E9E9E9;
				}
				.grid-3 {
					border-right: 1px solid #E9E9E9;
					border-top: 1px solid #E9E9E9;
				}
				.grid-4 {
					border-top: 1px solid #E9E9E9;
					border-left: 1px solid #E9E9E9;
				}
			}
		}
		.service__text {
			padding: 0;
			display: flex !important;
			flex-wrap: wrap;
			ul {
				flex-basis: 50%;
				width: 50%;
				padding: 55px 27px 20px;
				border: none;
				li {
					font-size: 16px;
					margin-bottom: 6px;
				}
			}
			.ul-1 {
				border-right: 1px solid #E9E9E9;
				border-bottom: 1px solid #E9E9E9;
			}
			.ul-2 {
				border-left: 1px solid #E9E9E9;
				border-bottom: 1px solid #E9E9E9;
			}
			ul.ul-3 {
				border-right: 1px solid #E9E9E9;
				border-top: 1px solid #E9E9E9;
				border-bottom: none;
			}
			ul:last-child {
				border-top: 1px solid #E9E9E9;
				border-left: 1px solid #E9E9E9;
				border-bottom: none;
			}
		}
	}
	.dark {
		.service {
			border: none;
		}
		.service__info {
			background: transparent;
		}
		.service__name::before, .service__name::after {display: none;}
		.block-3 {
			.service__text ul {
				border-color: #565656;
			}
			.grid {
				.grid-1, .grid-2, .grid-3, .grid-4 {
					border-color: #000000;
				}
			}
		}
	}
	.more-btn {
		margin-top: auto;
		img {
			width: 31px;
			height: 31px;
			transition: .2s;
		}
		&__text {
			font-size: 16px;
			padding-left: 15px;
		}
		&:hover {
			cursor: pointer;
		}
	}

	.reviews {
		padding: 140px 0;
		.title {
			padding-left: 0;
			margin-bottom: 67px;
		}
		&__wrap {
			.prevB, .nextB {
				width: 40px;
				height: 40px;
				bottom: 60%;
			}
			.prevB {
				left: -40px;
			}
			.nextB {
				right: -20px;
			}
			.slick-track {
				margin: 0 -10px;
			}
		}
	}
	.review {
		position: relative;
		margin: 0 10px;
		max-width: 386px;
		&::before {
			width: 70px;
			height: 8px;
			position: absolute;

		}
		&::after {
			width: 290px;
			height: 6px;
		}
		&__video {
			height: 218px;
		}
		&__info{
			padding: 15px 0 23px 0;
		}
		&__photo {

			width: 69px;
			height: 69px;
			margin-right: 18px;
		}
		&__name {
			font-size: 24px;
			line-height: 28px;
		}
		&__quantity {
			font-size: 24px;
			line-height: 28px;
			margin-right: 11px;
		}
		&__subscribe {
			font-size: 16px;
			line-height: 19px;
		}
	}
	.dark .reviews__wrap {
		.prevB {
			background-image: url('./files/images/icons/prevG.svg');
		}
		.nextB {
			background-image: url('./files/images/icons/nextG.svg');
		}
	}
	.feedback {
		// padding-top: 170px;
		padding-bottom: 85px;
		.title {
			text-align: left;
			margin-bottom: 36px;
			&::before {
				width: 220px;
				height: 21px;
				top: -25px;
			}
		}
		&__text {
			font-size: 24px;
			line-height: 28px;
			padding-right: 276px;
			margin-bottom: 50px;
		}
		.form {
			padding: 59px 145px 59px 64px;
			background: #fff;
			box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
			&__input {
				display: inline-block;
				margin-bottom: 30px;
				margin-right: 32px;
			}
			&__input input, select {
				width: 285px;
				height: 55px;
				padding: 0 16px;
				
				border-radius: 5px;
				background: #fff;
				font-size: 16px;
				line-height: 149%;
			}
			input::placeholder {
				font-size: 16px;
				color: #626262;
			}
			select {
				font-size: 16px;
				line-height: 149%;
				color: #626262;
			}
			&__input input[name="other"] {
				width: 605px;
			}
			&__send {
				width: 173px;
				height: 49px;
				font-size: 18px;
				line-height: 21px;
				display: block;
			}
			&__privacy-text {
				line-height: 25px;
			}
		}
	}
	.dark {
		.feedback{
			.form {
				background: #121212;
				box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
				select {
					background: #121212;
					color:#5CC560;
				}
				.form__input input{
					background: #121212;
				}
			}
		}
	}
	.fadeInRight {
		animation: fadeInRight ease 2s;
	}
	.fadeInLeft {
		animation: fadeInLeft ease 2s;
	}
	.fade {
		animation: fadeIn ease 2s;
	}


	@keyframes fadeIn {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
	@keyframes fadeInRight {
		0% {
			opacity: 0;
			transform: translateX(300px);
		}
		100% {
			opacity: 1;
			transform: translateX(0);
		}
	}
	@keyframes fadeInLeft {
		0% {
			opacity: 0;
			transform: translateX(-300px);
		}
		100% {
			opacity: 1;
			transform: translateX(0);
		}
	}
}

@media screen and (min-width: 1400px) {
	.reviews {
		&__wrap {
			.prevB {
				left: -90px;
			}
			.nextB {
				right: -70px;
			}
		}
	}
}

@media screen and (min-width: 1600px) {
	.services {
		position: relative;
		&::before {
			content: '';
			position: absolute;
			height: 398px;
			width: 205px;
			background: url('./files/images/Vector.png') no-repeat;
			left: 0;
			bottom: 100px;
		}
		&::after {
			content: '';
			position: absolute;
			height: 470px;
			width: 256px;
			right: 0;
			bottom: 560px;
			background: url('./files/images/Group.png') no-repeat;
		}
		.title {
			position: relative;
		}
		.title::before {
			content: '';
			position: absolute;
			height: 231px;
			right: 0;
			top: 40px;
			width: 115px;
			background: url('./files/images/Group1422.png') no-repeat;
		}
		.title::after {
			content: '';
			position: absolute;
			height: 193px;
			width: 106px;
			left: 0;
			top: 570px;
			background: url('./files/images/Frame.png') no-repeat;
		}
	}
	.reviews{
		position: relative;
		&::before {
			content: '';
			position: absolute;
			height: 196px;
			width: 70px;
			right: 0;
			top: -55px;
			background: repeating-linear-gradient(
				to top, 
				#ADCE6B, 
				#ADCE6B 3px, 
				transparent 4px, 
				transparent 17px
			);
		}
	}
}
